Farser
========

*Formula paser/lexer with focus on logical formulas*

------

*Farser* is a very simplistic lexer library which splits a formula or domain code string into tokens.

The purpose of a lexer is simply to separate the input into tokens. No validation of the input is performed (this would be the task of a parser).

At the time of this writing, the lexer recognized the following token types:
  
  **3M domain code:** (`DomainCodeToken`)
  
  * **"("** - Left parenthesis
  * **")"** - Right parenthesis
  * **"&"** - Logical and
  * **"|"** - Logical or
  * **"~"** - Logical not
  * **","** - Comma
  * **"="** - Equal
  * **">"** - Greater than
  * **"<"** - Less than
  * **">="** - Greater than/equal 
  * **"<="** - Less than/equal
  * **":="** - Assign a value to a variable
  * **"->"** - A pointer
  * ATOM - Anything that is not a token symbol from above
  
  **DRG formulas:** (`DrgFormulaToken`)
  
  * **"("** - Left parenthesis
  * **")"** - Right parenthesis
  * **"&"** - Logical and
  * **"|"** - Logical or
  * **"~"** - Logical not
  * ATOM - Anything that is not a token symbol from above
  
  In addition to splitting a DRG formula into tokens, `DrgLexerToken` also supports a prefix for any ATOM tokens. If it finds a string separated by colon ":" (see `DrgLexerToken#PREFIX_SEPARATOR_CHAR`) it splits this into a value and a prefix (e.g. "PFX:val" is split into prefix "PFX" and value "val").


  **Custom tokens:**
  
  A custom set of tokens can be created by implementing
  
  * an enum with `TokenType`
    * ensure any mandatory `CommonTokenType` are implemented
  * a class with `LexerTokenFactory`
  * and a class with `LexerToken`


-------------------

Usage
---------

```
<dependency>
	<groupId>${project.groupId}</groupId>
	<artifactId>${project.artifactId}</artifactId>
	<version>${project.version}</version>
</dependency>
```



-----------------


Example
---------

**DRG Formula:**

`"A | (~PFX:someValue & ~otherValue) & aFunction(param1, param2)"`

Processing this as DRG formula 

```java
    List<DrgLexerToken> lexed = DrgFormulaLexer.lex("... your formula ...");

```

will result in a list of `DrgLexerToken` with the following:

  1. `DrgFormulaToken.ATOM`, value = "A"
  2. `DrgFormulaToken.OR`, value = "|"
  3. `DrgFormulaToken.LPAREN`, value = "("
  4. `DrgFormulaToken.NOT`, value = "~"
  5. `DrgFormulaToken.ATOM`, value = "someValue", prefix = "PFX"
  6. `DrgFormulaToken.AND`, value = "&"
  7. `DrgFormulaToken.NOT`, value = "~"
  8. `DrgFormulaToken.ATOM`, value = "otherValue"
  9. `DrgFormulaToken.RPAREN`, value = ")"
  10. `DrgFormulaToken.AND`, value = "&"
  11. `DrgFormulaToken.ATOM`, value = "aFunction"
  12. `DrgFormulaToken.LPAREN`, value = "("
  13. `DrgFormulaToken.ATOM`, value = "param1"
  14. `DrgFormulaToken.COMMA`, value = ","
  15. `DrgFormulaToken.ATOM`, value = "param2"
  16. `DrgFormulaToken.RPAREN`, value = ")"

